<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Empower Skills</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'horizonstyle.css' %}" />
  <script src="https://kit.fontawesome.com/82db775624.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
    <nav>
      <ul class="nav_links">
        <img src="{% static 'empower/images/symbol.png' %}" alt="Empower skills" />
        <li class="new"><a href="/">Home</a></li>

        <li><a href="#about-us">About us</a></li>
      </ul>
    </nav>


  </header>

  <div>
    <img class="shop" src="{% static 'empower/images/shop.png' %}" alt="">
    <img class="iconic" src="{% static 'empower/images/icon.png' %}" alt="">
    <h1 class="name-of-shop">Horizon Carpenter</h1>
    <h2>Address</h2>
    <p class="shop-address">A-304 Jay Shree Krishna Darshan,Opp Ritu-Paradise Hatkesh, Mira
      Road(E), Mira Bhayander 401107</p>

    <p class="number">
      +91 9136390671
    </p>
  </div>

  <div id="about-us" class="aboutus">
    <img class="about-img" src="{% static 'empower/images/aboutus.png' %}" alt="about-us" />
    <h1 class="About-us">About US</h1>
    <p class="para">
      Empower Skills is a website which allows the customers to meet new
      service providers and the service providers to find new clients.
    </p>
  </div>

  <footer class="footer">
    <p class="copyright">Copyrights &copy; Empower Skills</p>
  </footer>
</body>

</html>